---
import imgMountain from '../../imgs/IMG_Rectangle.webp'
---

<section class="relative h-screen">
  <img src={imgMountain.src} alt="Imagen de montaña" class="inset-0 object-cover w-full h-full">
  <div class="absolute inset-0 bg-[#525A35]/50"></div>
  <div class="absolute top-1/3 md:1/4 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white text-center">
    <h2 class="text-3xl font-bold md:text-4xl">¡Que nada te detenga!</h2>
    <h3 class="text-2xl font-bold md:text-3xl">El viaje es tuyo, nosotros somos el medio</h3>
    <p class="text-lg mt-4 pb-6">Si tenés dudas podés comunicarte a nuestro WhatsApp o pedir tu cotización aquí mismo y empezar tu travesía por la Patagonia Argentina.</p>
    <a class="mt-6 py-2 px-8 bg-[#D17931] rounded-lg text-lg text-white" href="https://api.whatsapp.com/send?phone=541123014038&text=Hola, estoy interesado en el viaje" target="_blank" rel="noopener noreferrer" title="Redirección a WhatsApp">Quiero más información</a>
  </div>
</section>
