---
  import Accordion from "../utils/Accordion.astro";
---

<section class="bg-[#DA8F4C] h-auto py-6">
  <h2 class="text-white font-bold text-center text-2xl">Preguntas frecuentes</h2>

  <Accordion/>
</section> 
