---
import Bento from '../utils/Bento.astro'
import ButtonsLinks from '..//utils/ButtonsLinks.astro';
---

<section class="bg-white flex flex-col items-center md:flex-row py-8 px-2 md:px-24" id="about">

  <Bento/>

  <div class="text-center flex flex-col md:text-end max-w-[500px] pl-2">
    <h2 class="font-bold text-2xl md:text-4xl pb-2 text-[#525A35]">¿Quiénes somos?</h2>
    <p class="pb-2 text-[#525A35] text-lg">Nuestra historia es una de aventuras familiares <br> y un amor profundo por la exploración.</p>
    <p class="text-wrap text-[#525A35] text-lg">Lo que comenzó como una pasión compartida por <br> viajar en familia, se convirtió en nuestra misión:</p>
    <p class="font-bold text-pretty text-[#525A35] text-lg">darle la posibilidad de conocer la majestuosidad de la Patagonia a los viajeros que deseen sumergirse en sus paisajes impresionantes.</p>
    <p class="font-bold text-xl md:text-2xl pt-2 text-pretty text-[#525A35]">¿Qué esperás para comenzar tu viaje?</p>

    <ButtonsLinks/>

  </div>
</section>