---
import imgBackground from '../../imgs/IMG_3276 1.webp'
---

<section class="relative h-screen z-0">
  <img src={imgBackground.src} class="object-cover w-full h-full" alt="Imagen de fondo con vehículo de Nómades - Patagonia">

  <div class="absolute top-0 left-0 right-0 bottom-0 flex flex-col items-start justify-center ml-16">
    <h1 class="text-white text-5xl">Realizá tu recorrido por la <br/> Patagonia con nosotros</h1>
    <a class="mt-4 py-2 px-8 bg-[#D17931] rounded-lg text-md text-white" href="https://api.whatsapp.com/send?phone=541123014038&text=Hola, estoy interesado en el viaje" target="_blank" rel="noopener noreferrer" title="Redirección a WhatsApp">CONSULTÁ AHORA</a>
  </div>
</section>