---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import SectionWelcome from '../components/sections/SectionWelcome.astro';
import SectionAbout from '../components/sections/SectionAbout.astro';
import Separator from '../components/Separator.astro';
import ElectionInformationSection from '../components/sections/ElectionInformationSection.astro';
import ContactSection from '../components/sections/ContactSection.astro';
import BenefitsSections from '../components/sections/BenefitsSections.astro';
import QuestionSection from '../components/sections/QuestionSection.astro';
---

<Layout title="Nómades - Patagonia" description="Realiaza turismo por todo chubut con Nómades - Patagonia">
	<main>
		<SectionWelcome/>
		<SectionAbout/>
		<Separator/>
		<ElectionInformationSection/>
		<ContactSection/>
		<BenefitsSections/>
		<QuestionSection/>
	</main>
	<Footer/>
</Layout>