---
  import img1 from '../../imgs/20240623_170709.webp'
  import img2 from '../../imgs/IMG_3113.webp'
  import img3 from '../../imgs/20240624_160615.webp'
---

<section class="max-w-[1024px]">
  <div class="container mx-auto flex flex-wrap w-full md:w-1/2 min-w-[360px]">
    <div class="flex flex-wrap md:-m-2 -m-1 items-center justify-center">
      <div class="flex flex-wrap w-full">
        <picture class="md:p-2 p-1 w-full">
          <img alt="Imagen de vehículo Nómades - Patagonia" class="w-full h-auto object-cover object-center" src={img1.src}>
        </picture>
        <picture class="md:p-2 p-1 w-1/2">
          <img alt="Imagen vista al lago desde la carpa" class="w-full h-52 object-center" src={img2.src}>
        </picture>
        <picture class="md:p-2 p-1 w-1/2">
          <img alt="Imagen montando una carpa encima de la camioneta" class="w-full h-52 object-center" src={img3.src}>
        </picture>
      </div>
    </div>
  </div>
</section>