---
import icon1 from '../../svgs/building.svg'
import icon2 from '../../svgs/map.svg'
import icon3 from '../../svgs/paw.svg'
import icon4 from '../../svgs/mountain.svg'
---

<div class="w-full flex flex-wrap justify-between">
  <div class="flex flex-col items-center justify-center">
    <ul>
      <li class="flex pb-2 items-center">
        <img src={icon1.src} alt="icono de edificio" class="w-14 h-14 bg-[#DA8F4C] p-1 rounded-full mr-2">
        <p class="text-xl">Sin horarios de hoteles</p>
      </li>
      <li class="flex pb-2 items-center">
        <img src={icon2.src} alt="icono de mapa" class="w-14 h-14 bg-[#DA8F4C] p-1 rounded-full mr-2">
        <p class="text-xl">Libertad de viajar cuándo y por donde quieras</p>
      </li>
    </ul>
  </div>
  <div class="flex flex-col items-center justify-center">
    <ul>
      <li class="flex pb-2 items-center">
        <img src={icon3.src} alt="icono de pata animal" class="w-14 h-14 bg-[#DA8F4C] p-1 rounded-full mr-2">
        <p class="text-xl">Somos pet friendly</p>
      </li>
      <li class="flex pb-2 items-center">
        <img src={icon4.src} alt="icono de montaña" class="w-14 h-14 bg-[#DA8F4C] p-1 rounded-full mr-2">
        <p class="text-xl">Disfrutás de la naturaleza y paisajes únicos, vos sos el guía</p>
      </li>
    </ul>
  </div>
</div>